@function vw($px-vw, $base-vw: 1920px) {
  @return ($px-vw / $base-vw) * 100vw;
}

p,
li {
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: vw(8px);
  height: vw(8px);

  @media screen and (min-width: 1920px) {
    width: 8px;
    height: 8px;
  }
}

::-webkit-scrollbar-track {
  border-radius: vw(10px);

  @media screen and (min-width: 1920px) {
    border-radius: 10px;
  }
}

::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: vw(10px);

  @media screen and (min-width: 1920px) {
    border-radius: 10px;
  }
}

::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

/* futura-pt */
@font-face {
  font-family: futura-pt;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/FuturaPTLight.otf');
}

@font-face {
  font-family: futura-pt;
  font-style: oblique;
  font-weight: 300;
  src: url('../assets/fonts/FuturaPTLightOblique.otf');
}

@font-face {
  font-family: futura-pt;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/FuturaPTBook.otf');
}

@font-face {
  font-family: futura-pt;
  font-style: oblique;
  font-weight: 400;
  src: url('../assets/fonts/FuturaPTBookOblique.otf');
}

@font-face {
  font-family: futura-pt;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/FuturaPTMedium.otf');
}

@font-face {
  font-family: futura-pt;
  font-style: oblique;
  font-weight: 500;
  src: url('../assets/fonts/FuturaPTMediumOblique.otf');
}

@font-face {
  font-family: futura-pt;
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/FuturaPTDemi.otf');
}

@font-face {
  font-family: futura-pt;
  font-style: oblique;
  font-weight: 600;
  src: url('../assets/fonts/FuturaPTDemiOblique.otf');
}

@font-face {
  font-family: futura-pt;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/FuturaPTHeavy.otf');
}

@font-face {
  font-family: futura-pt;
  font-style: oblique;
  font-weight: 700;
  src: url('../assets/fonts/FuturaPTHeavyOblique.otf');
}

@font-face {
  font-family: futura-pt;
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/FuturaPTCondExtraBold.otf');
}

@font-face {
  font-family: futura-pt;
  font-style: oblique;
  font-weight: 800;
  src: url('../assets/fonts/FuturaPTCondExtraBoldOblique.otf');
}

@font-face {
  font-family: futura-pt;
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/FuturaPTCondExtraBold.otf');
}

@font-face {
  font-family: futura-pt;
  font-style: oblique;
  font-weight: 800;
  src: url('../assets/fonts/FuturaPTCondExtraBoldOblique.otf');
}

@font-face {
  font-family: futura-pt-bold;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/FuturaPTCondBold.otf');
}

@font-face {
  font-family: futura-pt-bold;
  font-style: oblique;
  font-weight: 700;
  src: url('../assets/fonts/FuturaPTCondBoldOblique.otf');
}

@font-face {
  font-family: futura-pt-condensed;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/FuturaPTCondBook.otf');
}

@font-face {
  font-family: futura-pt-condensed;
  font-style: oblique;
  font-weight: 400;
  src: url('../assets/fonts/FuturaPTCondBookOblique.otf');
}

@font-face {
  font-family: futura-pt-condensed;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/FuturaPTCondMedium.otf');
}

@font-face {
  font-family: futura-pt-condensed;
  font-style: oblique;
  font-weight: 500;
  src: url('../assets/fonts/FuturaPTCondMediumOblique.otf');
}

@font-face {
  font-family: futura-pt-condensed;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/FuturaPTCondBold.otf');
}

@font-face {
  font-family: futura-pt-condensed;
  font-style: oblique;
  font-weight: 700;
  src: url('../assets/fonts/FuturaPTCondBoldOblique.otf');
}

@font-face {
  font-family: futura-pt-condensed;
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/FuturaPTCondExtraBold.otf');
}

@font-face {
  font-family: futura-pt-condensed;
  font-style: oblique;
  font-weight: 800;
  src: url('../assets/fonts/FuturaPTCondExtraBoldOblique.otf');
}

/* Myriad Pro */
@font-face {
  font-family: myriad-pro;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/MYRIADPRO-REGULAR.otf');
}

@font-face {
  font-family: myriad-pro-condensed;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/MYRIADPRO-COND.otf');
}

@font-face {
  font-family: myriad-pro-condensed;
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/MYRIADPRO-CONDIT.otf');
}

@font-face {
  font-family: myriad-pro;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/MYRIADPRO-LIGHT.otf');
}

@font-face {
  font-family: myriad-pro;
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/MYRIADPRO-SEMIBOLD.otf');
}

@font-face {
  font-family: myriad-pro;
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/MYRIADPRO-SEMIBOLDIT.otf');
}

@font-face {
  font-family: myriad-pro-condensed;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/MYRIADPRO-BOLDCOND.otf');
}

@font-face {
  font-family: myriad-pro;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/MYRIADPRO-BOLD.otf');
}

@font-face {
  font-family: myriad-pro;
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/MYRIADPRO-BOLDIT.otf');
}

@font-face {
  font-family: myriad-pro-condensed;
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/MYRIADPRO-BOLDCONDIT.otf');
}

/* Comfortaa */
@font-face {
  font-family: comfortaa;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Comfortaa-Light.ttf');
}

@font-face {
  font-family: comfortaa;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: comfortaa;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Comfortaa-Medium.ttf');
}

@font-face {
  font-family: comfortaa;
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Comfortaa-SemiBold.ttf');
}

@font-face {
  font-family: comfortaa;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Comfortaa-Bold.ttf');
}
